.header-container{
 display: flex;
flex-direction: row;
justify-content:space-between;
align-items: space-between;
}

.cart-container{
    cursor: pointer;
}

.sort-by{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-filter{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
}